.input-box {
  display: flex;
  flex-direction: column;
}

.input-box>* {
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.submit-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}

mat-radio-button {
  margin-left: 15px;
}

mat-form-field {
  margin-top: 4px;
}


.mt-15 {
  margin-top: 15px;
}

