<mat-toolbar>
  <h2>Fill up the form</h2>
</mat-toolbar>

<form  class="normal-form" [formGroup]="this.data.form" (ngSubmit)="onSubmit()">
  <div class="input-box">

    <mat-form-field>
      <input type="hidden" formControlName="$key">
      <input type="hidden" formControlName="date">
      <input matInput placeholder="Username" formControlName="username">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" >
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Surname" formControlName="surname" >
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" >
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Role" formControlName="role">
        <mat-option value="Admin">Admin</mat-option>
        <mat-option value="Moderator">Moderator</mat-option>
        <mat-option value="User">User</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Date" formControlName="date" type="date" >
    </mat-form-field>

    <label>Enabled </label>
    <mat-radio-group aria-label="Select an option" formControlName="enabled" >
      <mat-radio-button value="Yes">Yes</mat-radio-button>
      <mat-radio-button value="No">No</mat-radio-button>
    </mat-radio-group>

    <div class="submit-btn">
      <button class="btn btn-success" type="submit" >Save</button>
    </div>

  </div>
</form>
