table {
  width: 100%;
  margin: 30px auto;
}

main {
  width:100%;
  height:100vh;
  background-color: #d9f0af;
  margin-top: -50px;
}

.mt-100 {
  margin-top: 100px;
}

.btn-danger{
  margin-left: 15px;
  width: 65px;
}

.btn-success{
  width: 65px;
}
