<main>

  <div class="cv container">
    <div class="row">

      <aside class="col-md-4">
        <h1><span>Oksana</span> Luhovska</h1>
        <p>Hello! My name is Oksana. I am from Ukraine. Curently living in UAE, since 2016.</p>
        <p>I finished Front end developer bootcamp, trying to improve my skills by doing small freelance projects. Also keep on learning to code using Udemy courses.</p>
        <p></p>
        <ul class="info">
          <li>Email: omlugovska@gmail.com</li>
          <li>Phone: +(971) 50 498 53 02</li>
          <li>Skype: oksi_lm</li>
        </ul>
      </aside>

      <div class="col-md-8">

        <h2>EXPERIENCE</h2>         

        <section>
          <h3>Freelance</h3>
          <h4>Front end developer</h4>
          <ul>
            <li>Developing UI,UX</li>
            <li>Implementing additional functionality using Javascript/jQuery</li>
            <li>Designing and developing views/templates</li>
          </ul>
        </section>

        <section> 
          <h3>DOLCE&GABBANA S.r.l</h3>
          <h4>Stylist & After Sales Specialist</h4>
          <ul>
            <li>Assistance with administration/ sales / marketing / support teams’ management</li>
            <li>Measure and report performance of all marketing and sales activities, assess sales KPIs</li>
            <li>Responsible for after-sales service</li>
          </ul>
        </section>

        <section>
          <h3>Avanta L.T.D.</h3>
          <h4>Product Development Manager</h4> 
          <ul>
            <li>Supervising product development team and perform testing on various product life cycle stage</li>
            <li>Managing IT Department with developing and maintaining product web-site</li>
            <li>Assisting designers team with UX/UI design of a product</li>
          </ul>
        </section>
     
      
      </div>
    </div>
  </div>

</main>
